@model AuctionAddViewModel
@using Lang = Auctioneer.Presentation.Resources.Auction.Add;

@{
	ViewBag.Title = "Add";
}

<main class="form-container">
	<h1>Add an auction</h1>

	@using(Html.BeginForm("Add", method: FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }, controllerName: null))
	{
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(excludePropertyErrors: true)

		<div class="form-group">
			@Html.LabelFor(x => x.Title)
			@Html.EditorFor(x => x.Title)
			@Html.ValidationMessageFor(x => x.Title)
		</div>

		<div class="form-group">
			@Html.LabelFor(x => x.DaysToEnd)
			@Html.DropDownListFor(x => x.DaysToEnd, Model.AvailableDaysToEnd)
			@Html.ValidationMessageFor(x => x.DaysToEnd)
		</div>

		<div class="form-group">
			@Html.LabelFor(x => x.Price)
			<span class="input-with-suffix">@Html.EditorFor(x => x.Price) PLN</span>
			@Html.ValidationMessageFor(x => x.Price)
		</div>

		<div class="form-group">
			@Html.LabelFor(x => x.CategoryId)
			@Html.DropDownListFor(x => x.CategoryId, Model.AvailableCategories, Lang.CategoryDropdownDefaultValue)
			@Html.ValidationMessageFor(x => x.CategoryId)
		</div>

		<div class="form-group">
			@Html.LabelFor(x => x.Photos)
			@Html.FileUploadFor(x => x.Photos, acceptFilter: "image/jpeg")
			@Html.ValidationMessageFor(x => x.Photos)
		</div>
		
		<div class="form-group-vertical">
			@Html.LabelFor(x => x.Description)
			@Html.EditorFor(x => x.Description, new { htmlAttributes = new
			{
				placeholder = @Lang.DescriptionPlaceholder
			}})
			@Html.ValidationMessageFor(x => x.Description)
		</div>

		<div class="submit-button-container">
			<input type="submit" value="@Lang.SubmitText" />
		</div>
	}
</main>

@section scripts
{
	<script src="~/Content/ckeditor/ckeditor.js"></script>
	<script>
		CKEDITOR.replace("Description", {
			contentsCss: '@Styles.Url("~/Content/css")',
			stylesSet: 'styles',
			disableNativeSpellChecker: false,
			linkShowTargetTab: false,
			removeButtons: 'Subscript,Superscript,Scayt,Anchor,SpecialChar,Format,About',
			toolbar: [
				{ name: 'clipboard', items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
				{ name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
				{ name: 'insert', items: [ 'Image', 'Table', 'HorizontalRule' ] },
				{ name: 'tools', items: [ 'Maximize' ] },
				{ name: 'document', items: [ 'Source' ] },
				'/',
				{ name: 'basicstyles', items: [ 'Bold', 'Italic', 'Strike', '-', 'RemoveFormat' ] },
				{ name: 'aligning', items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
				{ name: 'paragraph', items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote' ] },
				{ name: 'styles', items: [ 'Styles', 'Font', 'FontSize' ] },
				{ name: 'colors', items: [ 'TextColor', 'BGColor' ] }
			]
		});

		CKEDITOR.stylesSet.add('styles', [
			{ name: 'Paragraph', element: 'p' },
			{ name: 'Heading 1', element: 'h1' },
			{ name: 'Heading 2', element: 'h2' },
			{ name: 'Heading 3', element: 'h3' },
			{ name: 'Heading 4', element: 'h4' },
			{
				name: 'Container',
				element: 'div',
				styles: {
					padding: '5px 10px',
					background: '#eee',
					border: '1px solid #ccc'
				}
			},
			{ name: 'Marker', element: 'mark' },
		]);
	</script>
}
