@model AuctionShowViewModel
@using Lang = Auctioneer.Presentation.Resources.Auction.Show;

@{
	Layout        = "~/Views/Shared/_Layout_with_search_and_breadcrumb.cshtml";
	ViewBag.Title = "Show";
}

@section head
{
	<link rel="stylesheet" href="~/Content/Lightbox/lightbox.css" />
}
@section scripts
{
	<script src="~/Scripts/lightbox.min.js"></script>
}

<main class="auction-details">
	<header>
		<h1>@Html.DisplayFor(x => x.Title)</h1>
		<div class="end-time">@Lang.EndingIn @Html.DisplayFor(x => x.TimeTillEnd) (@Html.DisplayFor(x => x.EndDate))</div>
		
		<div class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.Price)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Price)
			</dd>
		</div>

		<div class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.SellerUserName)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.SellerUserName)
			</dd>
		</div>
				
		<div class="photos">
			@foreach(var photo in Model.Photos)
			{
				<a href="@photo.Url" data-lightbox="auction-photos">
					<img src="@photo.Url" width="150" height="150">
				</a>
			}
		</div>
	</header>

	<div class="auction-description">
		@Html.DisplayFor(x => x.Description)
	</div>

</main>
