@model Auctioneer.Presentation.Areas.Admin.Models.UsersIndexViewModel
@using Auctioneer.Logic.Users
@using PagedList.Mvc
@using Lang = Auctioneer.Resources.Admin.Users.Index;

@{
	ViewBag.Title = "Index";
}

<h1>@Lang.Header</h1>

<main class="admin-users-list">
	<div class="message inline">
		@ViewBag.Message
	</div>

	<table class="table table-hover">
		<tr>
			<th>
				@{
					var name = Html.DisplayNameFor(x => x.Users.First().UserName).ToString();
					
					@Html.SortOrderLink(name, Model.CurrentSortOrder, UserSortOrder.UserNameAscending, UserSortOrder.UserNameDescending)
				}
			</th>
			<th>
				@{
					name = Html.DisplayNameFor(x => x.Users.First().RealName).ToString();

					@Html.SortOrderLink(name, Model.CurrentSortOrder, UserSortOrder.RealNameAscending, UserSortOrder.RealNameDescending)
				}
			</th>
			<th>
				@{
					name = Html.DisplayNameFor(x => x.Users.First().BanExpiryTime).ToString();

					@Html.SortOrderLink(name, Model.CurrentSortOrder, UserSortOrder.BanExpiryDateAscending,
					                    UserSortOrder.BanExpiryDateDescending)
				}
			</th>
			<th>
			</th>
		</tr>

		@foreach(var item in Model.Users)
		{
			<tr>
				<td>
					@Html.DisplayFor(x => item.UserName)
				</td>
				<td>
					@Html.DisplayFor(x => item.RealName)
				</td>
				<td>
					@if(item.IsBanned)
					{
						@Html.DisplayFor(x => item.BanExpiryTime)
					}
					else
					{
						<p>@Lang.NotBanned</p>
					}
				</td>
				<td class="ban-control-panel">
					@if(item.IsBanned)
					{
						<p class="btn btn-danger disabled">@Lang.Ban</p>
						@Html.ActionLink(Lang.Unban, actionName: "Unban", cssClass: "btn btn-default", routeValues: new { id = item.Id })
					}
					else
					{
						@Html.ActionLink(Lang.Ban, actionName: "Ban", cssClass: "btn btn-danger", routeValues: new
						{
							id              = item.Id,
							listQueryString = Request.Url.Query
						})
						<p class="btn btn-default disabled">@Lang.Unban</p>
					}
				</td>
			</tr>
		}
	</table>

	<div class="pagination-box">
		<span class="page-text">@Lang.PageNumber</span>

		@Html.PagedListPager(Model.Users, page => Url.ActionWithCurrentParameters(routeValues: new { page }),
		                     new PagedListRenderOptions
		                     {
		                        MaximumPageNumbersToDisplay = 10
		                     })
	</div>
</main>
