@model PagedList.IPagedList<AuctionViewModel>
@using Lang = Auctioneer.Resources.Category.Index;

<div class="pagination-box">
	<span class="page-text">@Lang.PageNumber</span>

	@Html.PagedListPager(Model, page => Url.ActionWithCurrentParameters(routeValues: new { page }),
	                     new PagedListRenderOptions
	                     {
	                        MaximumPageNumbersToDisplay = 5
	                     })

	<span class="results-per-page-selector">
		@Lang.ResultsPerPage

		@{
			var options = new int[] { 10, 20, 50 };
			foreach(var pageSize in options)
			{
				if(pageSize == Model.PageSize)
				{
					@Html.Raw(pageSize)
				}
				else
				{
					@Html.ActionLinkWithCurrentParameters(pageSize.ToString(), routeValues: new
					{
						page     = 1,
						pageSize = pageSize
					})
				}

				if(pageSize != options.Last())
				{
					@Html.Raw(", ")
				}
			}
		}
	</span>
</div>
