@model CategoryIndexViewModel

<div class="pagination-box">
	<span class="page-text">@Resources.AuctionList_PageNumber</span>

	@Html.PagedListPager(Model.Auctions, page => Url.Action("Index",
	                     new
	                     {
	                        page      = page,
	                        pageSize  = Model.Auctions.PageSize,
	                        sortOrder = Model.CurrentSortOrder
	                     }),
	                     new PagedListRenderOptions
	                     {
	                        MaximumPageNumbersToDisplay = 5
	                     })

	<span class="results-per-page-selector">
		@Resources.AuctionList_ResultsPerPage

		@{
			var options = new int[] { 10, 20, 50 };
			foreach(var pageSize in options)
			{
				if(pageSize == Model.Auctions.PageSize)
				{
					@Html.Raw(pageSize)
				}
				else
				{
					@Html.ActionLink(pageSize.ToString(), "Index", new { pageSize = pageSize, sortOrder = Model.CurrentSortOrder })
				}

				if(pageSize != options.Last())
				{
					@Html.Raw(", ")
				}
			}
		}
	</span>
</div>
