@using Lang = Auctioneer.Resources.Admin.Layout
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Forwarding of sections required in the case of nested layouts *@
@section Head
{
	@RenderSection("Head", required: false)
}
@section scripts
{
	@RenderSection("scripts", required: false)
}

<div class="account-container">
	<nav>
		<h1>@Lang.MenuHeader</h1>
		<ul>
			<li>@Html.ActionLink(Lang.UsersLink, controllerName: "Users")</li>
		</ul>
	</nav>

	<main>
		@RenderBody()
	</main>
</div>
