@model AuctionViewModel

<a href="@Url.Action("Show", "Auction", new { id = Model.Id })">
	<article>
		<div class="thumbnail">
			<img src="@Url.AuctionThumbnail(Model.Id)" />
		</div>
		
		<div class="auction-info">
			<h1>
				@Html.DisplayFor(x => Model.Title)
			</h1>

			<div class="price">
				@Html.DisplayFor(x => Model.Price)
			</div>

			<div class="time-till-end">
				@Resources.Auction_EndingIn @Html.DisplayFor(x => Model.TimeTillEnd)
			</div>
		</div>
	</article>
</a>