@model AuctionViewModel
@using Lang = Auctioneer.Resources.Auction.Show;

<a href="@Url.Action(controllerName: "Auction", actionName: "Show", routeValues: new { id = Model.Id, slug = Model.Slug })">
	<article>
		<div class="thumbnail">
			<img src="@Url.AuctionThumbnail(Model.Id)" />
		</div>
		
		<div class="auction-info">
			<h1>
				@Html.DisplayFor(x => Model.Title)
			</h1>

			<div class="price">
				@Html.DisplayFor(x => Model.Price)
			</div>

			<div class="time-till-end">
				@Lang.EndingIn @Html.DisplayFor(x => Model.TimeTillEnd)
			</div>
		</div>
	</article>
</a>